@charset "UTF-8";

.wall {
	height: 100px;
}

.center_box {
	width: 80vw;
	margin: 0 auto;
}

.cast_name {
	font-size: 30px;
	font-weight: bold;
}

.cast_type {
	font-size: 16px;
	font-weight: bold;
	color: #979ba2;
}

.movie {
	font-size: 22px;
	font-weight: bold;
}

.isup_box:hover .isup_li {
	background-color: #eeeeef;
	cursor: pointer;
}

.isup_li {
	font-size: 16px;
	font-weight: bold;
	color: #979ba2;
	text-align: center;
}

.isup_img {
	height: 20px;
	align-items: center;
}

.row {
	margin: auto 0 !important;
}

.text {
	font-size: 16px;
	max-height: 123px;
}

.col1 {
	padding-top: 2px;
	font-size: 12px !important;
	color: gray;
}

.col2 {
	color: red;
}

.wall-2 {
	min-height: 50px;
}

.title_img {
	margin: 15px 10px; 
	width : 60px;
	height: 90px;
	border-radius: 10px;
}