@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

h3 {
	padding-top: 20px;
}

ul {
	list-style-type: none;
}

li {
	margin: 0px;
	padding: 0px;
}
.dark-mode{
	background-color: black !important;
	color: white;
	font-color : white;
} 