@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

div {
	
}

span {
	
}

h3 {
	padding-top: 20px;
}

ul {
	list-style-type: none;
}

li {
	margin: 0px;
	padding: 0px;
}

.dark-mode {
	background-color: #282c34 !important;
	color: #c8c8c8;
	font-color: #c8c8c8;
}