@charset "UTF-8";

.nav-item {
	
}

.wall {
	height: 80px;
}

.search_result {
	background-color: #f3f6f4;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
}

.carousel-inner {
	width: 100% !important;
	margin: 0 auto;
}

.carousel-item {
	width: 100% !important;
	height: 100% !important;
}

.carousel-item:hover {
	cursor: pointer;
}

.movieInfo_box {
	height: 100%;
}

.movieInfo_box>* {
	width: 90%;
	margin: 0 auto;
}

h1 {
	padding: 0 80px 0 300px;
}

.carousel-control-prev, .carousel-control-next {
	height: 30px;
	width: 30px !important;
	top: 50% !important;
	color: black !important;
	font-weight: bold;
	font-size: 25px;
	line-height: 15px;
	border: 1px solid gray !important;
	border-radius: 50px !important;
	opacity: 1 !important;
	background: white !important;
}

.info {
	overflow: hidden;
	vertical-align: top;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	display: -webkit-box;
}

.carousel-control-prev {
	left: 0% !important;
}

.carousel-control-next {
	right: 0% !important;
}
.movieInfo_box:hover{
	
}
.movieInfo_box:hover .profile_img{
	transform: scale(1.1);
}
.movieInfo_box:hover .movie_info_text_box{
	transform: translate(0, -120px);
	height: 120px;
	background: black;
	color: white;
	padding-top: 35px;
	padding-left: 10px;
	border-radius: 0 0 10px 10px;
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.img_box {
	position: relative;
	width: 100%;
	height: 0px;
	padding-bottom: 145.37%;
	border-radius: 10px;
	overflow: hidden;
}

.profile_img {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 1px solid rgb(234, 233, 232);
	border-radius: 10px;
	background: rgb(248, 248, 248);
	transition: all 0.1s ease;
}
.movie_info_text_box{
	transition: all 0.1s ease;
	z-index: 2;
	position: relative;
	height: 120px;
}
.movieInfo_box_2 {
	display: flex;
	height: 100%;
	width: 100%;
	padding-top: 15px;
}

.img_box_2 {
	position: relative;
	width: 25%;
	padding-bottom: 33.3%;
	overflow: hidden;
	border-radius: 10px;	
	
}
.img_box_2:hover .profile_img_2{
	transform: scale(1.1);
}
.info_box_2:hover .profile_img_2{
	transform: scale(1.1);
}
.profile_img_2 {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 1px solid rgb(234, 233, 232);
	border-radius: 10px;
	background: rgb(248, 248, 248);
	transition: all 0.1s ease;
}

.head_title {
	margin: 5px 0 10px 10px;
	font-size: 22px;
	font-weight: bold;
}

.info_2 {
	overflow: hidden;
	vertical-align: top;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	padding-top: 40px;
	padding-left: 15px;
	font-size: 17px;
}

.info_3 {
	font-size: 14px;
	padding-left: 15px;
	color:
}