@charset "UTF-8";

.wall {
	height: 80px;
}

.search_result {
	background-color: #f3f6f4;
	height: 50px;
}

.search_content_user{
	overflow: hidden;
}
.search_content_user li{
	float: left;
	margin-right: 20px;
}