@charset "UTF-8";

#main_box {
	width: 450px;
	margin: 200px auto;
	border: 1px solid black;
}

.btn {
	margin: 0;
}

.input-group {
	width: 400px;
	margin: 0 auto;
}

.input-group-text {
	padding: 0;
}

.btn-outline-danger {
	width: 400px;
}