@charset "UTF-8";

body {
	background-color: #fafafa;
	overflow-y: hidden;
}

#main_box {
	width: 450px;
	margin: 100px auto;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: white;
}

.btn {
	margin: 0;
}

.input-group {
	width: 400px;
	margin: 0 auto;
}

.logo_img {
	width: 350px;
	margin: 15px;
}

.input-group-text {
	padding: 0;
}

.btn-outline-danger {
	width: 400px;
}